{% if ssl_connect is sameas true %}
server {
    listen 80; # default_server;
    server_name {{ service_name }}.{{ domain_name }};
    location ^~ /.well-known {
        root /var/www/html/;
    }
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443;
    server_name {{ service_name }}.{{ domain_name }};
    access_log              /var/log/nginx/{{ service_name }}.access.log;
    error_log               /var/log/nginx/{{ service_name }}.error.log;
    ssl on;
    ssl_certificate         /etc/letsencrypt/live/{{ service_name }}.{{ domain_name }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ service_name }}.{{ domain_name }}/privkey.pem;

    location / {
        {% if maintenance_mode is sameas true %}
        allow {{ maintainer_ip }}/32;
        deny all;
        {% endif -%}
        proxy_pass          http://{{ service_name }}:{{ service_port }};
        proxy_redirect      http://{{ service_name }}:{{ service_port }} https://{{ service_name }}.{{ domain_name }};
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    Host $host;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-NginX-Proxy true;
    }
}
{% else %}
server {
    listen 80; # default_server;
    listen [::]:80;
    server_name {{ service_name }}.{{ domain_name }};
    access_log              /var/log/nginx/{{ service_name }}.access.log;
    error_log               /var/log/nginx/{{ service_name }}.error.log;
    
    location / {
        {% if maintenance_mode is sameas true %}
        allow {{ maintainer_ip }}/32;
        deny all;
        {% endif -%}
        proxy_pass          http://{{ service_name }}:{{ service_port }};
        proxy_redirect      http://{{ service_name }}:{{ service_port }} http://{{ service_name }}.{{ domain_name }};
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    Host $host;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-NginX-Proxy true;
    }
}
{% endif -%}
